

<div class="card text-center">
    <div class="card-header">
        Erreur
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ error_message }}</h5>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Retour a l'accueil</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
